/*
	Note: To add style sheets to an HTML compiled help file, add the file like you would a regular html file.  The
	help work shop add file dialog only displays a file type of "html."  To get around this, type in the full file
	name of the CSS file and hit ok.  For example, to include this file type "Help.css" and press ok.
*/

/* Style Definitions */
body, .normal
{
	font-size: 12.0pt;
	font-family: "Times New Roman";
	font-style: normal;
}

p
{
	margin-top: 8.0pt;
	margin-bottom: 8.0pt;
	line-height: 110%;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 12.0pt;
	margin-right: 0in;
	margin-bottom: 3.0pt;
	margin-left: 0in;
	page-break-after: avoid;
	font-size: 16.0pt;
	font-family: Arial;
	font-weight: bold;
}

h2
{
	font-size: 13pt;
}

h3
{
	font-size: 10pt;
}

h4
{
	font-size: 10pt;
}

h4.subheading
{
	margin-top: -2pt;
	margin-bottom: 3pt;
}

h5, h6
{
	font-size: 12pt;
	font-weight: normal;
}

a
{
	text-decoration: none;	
	color: Blue;
}

a:visited
{
	color: #0000B4;
}

a:focus
{
	text-decoration: underline;
}

a.defined-name:visited, a.defined-name, .defined-name
{
	font-family: "Arial";
	font-weight: bold;
	font-size: smaller;
	color: olive;
	text-transform: capitalize;
}

a:hover, a.defined-name:hover
{
	text-decoration: underline;
	color: green;
}

a.popuplink, a.popuplink
{
	color: #3779FC;
}

/* a:active {} */

span.bold-color
{
	color: blue;
	font-weight: bold;
}

.bold
{
	font-weight: bold;
}

.caption
{
	font-weight: bold;
}

.warning
{
	color: red;
	font-weight: bold;
}

.element
{
	color: Maroon;
	font-weight: bold;
}

.attribute
{
	color: green;
	font-weight: bold;
}

colgroup.control-name
{
	color: #cc0000;
	font-family: "Arial";
	font-weight: bold;
	font-size: small;
	width: 30%;
}

.code,
.argument,
.argument-option,
.gui-component-name,
.file-extension,
.file-name,
.argument-list dt,
.file-list dt,
.function-name
{
	font-family: "Courier New";
	font-size: smaller;
	font-weight: bold;
	word-spacing: -0.25em;
}

/*
	Since dl.argument-list dt is already specified as smaller, we cannot use the .argument-option within it or we get an
	argument option whitch has "smaller" applied to the font twice, making it smaller than the rest of the argument list.
	The solution is to define a separate class within
*/
dl.argument-list dt .option
{
	font-style: italic;
}

.file-list dt
{
	margin-top: 0.25em;
	padding: 0em;
	border-width: 0em;
}

.file-list dd
{
	margin-bottom: 0.25em;
	padding: 0em;
	border-width: 0em;
}

.gui-component-name
{
	text-transform: capitalize;
	font-style: italic;
}

h1.argument,
h1.argument-option,
h1.gui-component-name,
h1.file-extension,
h1.file-name
{
	font-size: 110%;
}

.argument
{
	white-space: nowrap;
}

.argument-option,
.file-list dt,
.file-name
{
	font-style: italic;
}

.title-text
{
	text-align: center;
	vertical-align: middle;
	background-color: #cfd5e8;
	color: #005a9c;
	border-color: #cfd5e8;
	border-style: solid;
	border-width: 0pt;
    font-family: Arial;
    font-size: 22.0pt;
    font-weight: 900;
    padding: 0pt;
	width: 100%;
}

table.title
{
	background-color: #cfd5e8;
	color: #005a9c;
	border-color: #cfd5e8;
	border-width: 0pt;
	text-align: left;
	vertical-align: middle;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	margin: 0px;
	border-spacing: 0px;
	padding: 0em;
	width: 100%;
}

table.title td
{
	border-style: solid;
	border-color: #cfd5e8;
	border-width: 0pt;
	padding: 0em;
	height: 38pt;
}

.aps-logo,
.aps-logo-blank
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	height: inherit;
}


div.row-aligned
{
	vertical-align: middle;
	padding: 0pt;
	border: 0pt;
}

img.float-left
{
	float: left;
	margin: 0pt;
	padding: 0pt;
	border: 0pt;
}

/* Use a regular bullet for a list embedded in another list. */
li ul
{
	list-style-type: disc;
}

dl, ol, ul
{
	margin-bottom: 0in;
	margin-top: 0in;
}

li
{
	margin-top: 6.0pt;
	margin-bottom: 6.0pt;
}

dt
{
	margin-top: 12.0pt;
	font-weight: bold;
}

dd
{
	margin-bottom: 6pt;
}

ol.list-level-1
{
	list-style-type: decimal;
}

ol.list-level-2
{
	list-style-type: lower-alpha;
}

div.centered-image
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0pt;
	margin-bottom: 12pt;
	position: relative;
	padding: 0pt;
}

div.labeled-image
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0pt;
	margin-bottom: 12pt;
	position: relative;
	padding: 0pt;
	/*border-color: blue;
	border-width: medium;
	border-style: solid;*/
}

img.labeled
{
	width: 90%;
}

div.dialog img
{
	padding: 0pt;
	margin: 0pt;
	border: 0pt;
}

div.glossary-index p
{
	word-spacing: 0.25em;
	margin-bottom: 3em;
}

div.glossary-content a
{
	display: block;			/* Ensures each element is on it's own line. */
	width: 12em;			/* Because of the display: block, the element wants to span the entire line. */
	padding-bottom: 4pt;
}

dl.style-definition {}

.article-title
{
	font-style: italic;
}

table
{
	border-collapse: collapse;
	border-spacing: 0pt;
	margin-left: auto;
	margin-right: auto;
}

table caption
{
	font-weight: bold;
	text-transform: capitalize;
}

table .header th
{
	background-color: lightgray;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	font-family: Arial;
	font-weight: bold;
	font-size: large;
	color: Black;
	margin: 0pt;
	padding: 4px 26px;
	text-transform: none;
	word-spacing: normal;
}

table td
{
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: black;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	margin: 0px;
	border-spacing: 0px;
	padding: 0.25em 1em;
}

table .file-list
{
	width: 85%;
}

table .file-type
{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 5em;
}

table .file-type-name
{
	font-style: normal;
	width: 12em;
}

table.file-list .file-name
{
	width: 20em;
	font-style: normal;
}

img.inline-image
{
	vertical-align: middle;
	border-width: 0pt;
	padding: 0pt;
}

a.easteregg-image-popup,
a.easteregg-image-popup:link,
a.easteregg-image-popup:visited,
a.easteregg-image-popup:focus,
a.easteregg-image-popup:hover,
a.easteregg-image-popup:active
{
	color: black;
	text-decoration: none;
	cursor: text;
	font-weight: normal;
}

/* This is actually a dummy style, just trying to make Internet Explorer run the hover event. */
a.easteregg-image-popup:hover
{
	background: white;
}

/* Hide the big image by making its height and width 0. */
a.easteregg-image-popup img
{
	height: 0;
	width: 0;
	border-width: 0;
}

a.easteregg-image-popup:hover img
{
	position: absolute;
	top: 60pt;
	left: 74px;
	height: auto;
	width: auto;
	border-style: solid;
	border-color: green;
	border-width: 4px;
}

.showborder
{
	border-color: blue;
	border-width: medium;
	border-style: solid;
}