 /* Import the base css files upon which we will build. */
 @import url("common.css"); 
  
/* Style definitions. */
table#controls
{
	width: 800px;
}

#gui
{
	width: 788px;
}

#advancedimport
{
	width: 747px;
}

#formationentry
{
	width: 517px;
}

img.side-by-side
{
	height: 400px;
	margin-left: 25px;
	margin-right: 25px;
}

#depthchartexamples
{
	width: 905px;
}

#options
{
	/*538*/
	width: 460px;
}

#optionsdefaulttextblankexample
{
	width: 1100px;
}

#optionsdefaulttextnaexample
{
	width: 1100px;
}

img.options-side-by-side
{
	height: 150px;
	margin-left: 25px;
	margin-right: 25px;
}

img.comparison-table-side-by-side
{
	height: 300px;
	margin-left: 25px;
	margin-right: 25px;
}

#projectsegmentation
{
	width: 800px;
}

#projectstartingandendingdepthsform
{
	width: 196px;
}

#projectstartingandendingexample
{
	width: 475px;
}

#pasoncsvdownload1
{
	/*width: 735px;*/
	width: 551px;
}

#pasoncsvdownload2
{
	/*width: 789px;*/
	width: 592px;
}